# Fichiers Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environnements virtuels
.venv/
env/
venv/
venv-logement/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration
.env
*.pyc